<DOCTYPE html>
<html>
<head>
    <title>One Thousand Pens</title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="static/js/libs/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="static/js/libs/devbackbone.js"></script>
    
</head>
<body>

<script type="text/template" id="poll-template">
	<table>
		<th> Votes </th>
		<% for (word in votes) { %>
			<tr><td> <%=word%> </td> <td><%=votes[word]%></td></tr>
		<% } %>
	</table>   
</script>

<div id="poll_content"></div>

<div id="story_content"></div>

<div id="vote_content">
    <form id="vote_form" action="#">
        <input type="text" id="vote_input">
        <input type="submit" value="Vote">
    </form>
</div>

<script src="static/js/models.js"></script>
<script src="static/js/views.js"></script>
<script src="static/js/events.js"></script>
<script src="static/js/onethousandpens.js"></script>

</body>
</html>
