<DOCTYPE html>
<html>
<head>
    <title>One Thousand Pens</title>

    <link rel="stylesheet" href="static/styles.css"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="static/js/libs/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="static/js/libs/backbone.min.js"></script>
    
</head>
<body>

<script type="text/template" id="poll-template">
	<%
	// Sort the object into an array
	sorted_votes = [];
	for (word in votes) {
		sorted_votes.push([word, votes[word]]);
	}
	sorted_votes.sort(function(a, b) {return b[1] - a[1]});
	%>

	<table>
		<th> Votes </th>
		<% for (i = 0; i < sorted_votes.length; i++) { %>
			<tr><td> <%-sorted_votes[i][0]%> </td> <td><%-sorted_votes[i][1]%></td></tr>
		<% } %>
	</table>   
</script>

<script type="text/template" id="words-template">
    <p>
        <% for (i = 0; i < prev_words.length; i++) { %>
            <%-prev_words[i]%>
        <% } %>
    </p>
</script>

<div id="top">
    <div id="main-pane">
        <span id="title">One Thousand Pens</span>
        <div id="story-content"></div>
    </div>

    <div id="poll-content"></div>
</div>

<div id="vote-background">
    <div id="vote-content">
        <form id="vote-form" action="#">
            <input type="text" id="vote-input">
            <input type="submit" value="Vote">
        </form>
    </div>
</div>

<script src="static/js/models.js"></script>
<script src="static/js/views.js"></script>
<script src="static/js/events.js"></script>
<script src="static/js/onethousandpens.js"></script>

</body>
</html>
