@font-face {
  font-family: 'La Belle Aurore';
  font-style: normal;
  font-weight: 400;
  src: local('La Belle Aurore'), local('LaBelleAurore'), url(http://fonts.gstatic.com/s/labelleaurore/v5/Irdbc4ASuUoWDjd_Wc3mdyPuxW3DwjEqq93dVR72jP4.woff) format('woff');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('EB Garamond'), local('EBGaramond'), url(http://themes.googleusercontent.com/static/fonts/ebgaramond/v5/kYZt1bJ8UsGAPRGnkXPeFYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

#top {
    width: 100%;
    height: 90%;
}

#main-pane {
    height: 100%;
    width: 80%;
    float: left;
}

#story-content {
    font-family: 'EB Garamond', sans-serif;
    padding: 0 20px;
    font-size: 30px;
    margin: 0;
}

#poll-content {
    font-size: 20px;
    border-left: 1px solid black;
    margin-left: 80%;
    width: 20%;
    height: 100%;
}

.votes-display {
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    padding: 5px;
}

.votes-display .vote-number {
    color: gray;
    font-size: 15px;
}

#vote-title {
    font-size: 35px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid black;
}

#countdown-timer {
    background-color: black;
    height: 10px;
}

.vote-percentage {
    height: 15px;
    background-color: gray;
}

#title {
    margin-left: 20px;
    font-size: 70px;
    font-family: 'La Belle Aurore', cursive;
}

#subtitle {
    margin-left: 20px;
    font-size: 30px;
    font-family: 'EB Garamond', sans-serif;
}

#vote-background {
    width: 100%;
    height: 10%;
    border-top: 1px solid black;
    padding: 10px;
}

#vote-input {
    font-size: 30px;
    height: 70%;
    font-family: 'EB Garamond', sans-serif;
}

#vote-input-button {
    font-family: 'EB Garamond', sans-serif;
    font-size: 30px;
    background: none;
    text-shadow: none;
    border: 1px solid black;
    height: 70%;
    cursor: pointer;
}